Options +FollowSymLinks
RewriteEngine On

RewriteCond %{HTTP_HOST} ^abyte.site[nc]
RewriteCond %{SCRIPT_FILENAME} !-d
RewriteCond %{SCRIPT_FILENAME} !-f

RewriteRule ^(.*)$ http://www.abyte.site/$1 [r=301,nc]

ErrorDocument 400 /error.php?code=400
ErrorDocument 401 /error.php?code=401
ErrorDocument 403 /error.php?code=403
ErrorDocument 404 /error.php?code=404
ErrorDocument 500 /error.php?code=500